<div class="w-52">
    <app-dev-comp [itens]="itens" [title]="'Pokemon'"></app-dev-comp>
</div>

<!-- <div class="w-4/5">
    <h1>Personalização do Color</h1>
    <div class="grid grid-cols-5 gap-1">
        <app-dev-comp *ngFor="let color of eColor | keyvalue" [text]="color.key" [color]="color.value"></app-dev-comp>
    </div>
</div>

<div class="w-4/5">
    <h1>Personalização do Rounded</h1>
    <div class="grid grid-cols-5 gap-1">
        <app-dev-comp *ngFor="let rounded of eRounded | keyvalue" [text]="rounded.key"
            [rounded]="rounded.value"></app-dev-comp>
    </div>
</div>

<div class="w-4/5">
    <h1>Personalização do Size</h1>
    <div class="grid grid-cols-5 gap-1 items-center">
        <app-dev-comp *ngFor="let size of eSize | keyvalue" [text]="size.key" [size]="size.value"></app-dev-comp>
    </div>
</div>

<div class="w-4/5">
    <h1>Personalização do Loading</h1>
    <div class="grid grid-cols-5 gap-1 items-center">
        <app-dev-comp [loading]="true" [text]="'Loading'"></app-dev-comp>
    </div>
</div>

<div class="w-4/5">
    <h1>Personalização do Message</h1>
    <div class="grid grid-cols-5 gap-1 items-center">
        <app-dev-comp [message]="'99.999'" [text]="'Loading'"></app-dev-comp>
        <app-dev-comp [message]="'Pokémon'" [text]="'Loading'"></app-dev-comp>
    </div>
</div> -->