<div class="md:mt-2">
  <div class="flex items-center font-bold uppercase text-2xl">
    <h1>UI Button</h1>
  </div>
  <p class="pt-2 text-gray-600">Exemplos para utilização do componente Button.</p>
</div>
<hr class="my-4 border-b-2 border-gray-200" />

<div class="mb-6 text-sm">
  <p class="">Use o componente botão com suporte para vários estilos, cores, tamanhos, gradientes e sombras.</p>
</div>

<app-example-viewer [title]="'Alguns exemplos do componente Botão'">
  <div class="flex flex-wrap space-x-2 justify-center items-center">
    <vat-button [text]="'Exemplo'" [message]="'1'" [collor]="1" [size]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [rounded]="2" [gradientDuotone]="3" [size]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [rounded]="3" [message]="'999'" [gradientMonochrome]="6" [size]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [rounded]="4" [gradientOutline]="4" [size]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [rounded]="5" [outline]="1" [size]="2"></vat-button>
  </div>
</app-example-viewer>

<div class="mt-10">
  <h2 class="font-semibold">Configuração</h2>
  <p class="text-xs">
    Após instalar o componente, será necessário importar o Modulo do Bottão nos modulos da aplicação, conforme exemplo abaixo.
  </p>
  <app-code-viewer [codeViewer]="codeModule"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Eventos disponíveis no componente Button</h2>
  <div class="overflow-x-auto relative shadow-md mt-2">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100">
        <tr>
          <th class="py-1 px-6">Nome do Evento</th>
          <th class="py-1 px-6">Quando ocorre</th>
          <th class="py-1 px-6">Retorno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of buttonEvents" class="hover:bg-gray-200/30">
          <th class="py-2 px-6 font-medium text-gray-900 whitespace-nowrap">{{ item.name }}</th>
          <td class="px-6">{{ item.trigger }}</td>
          <td class="px-6">{{ item.return }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização para estilo "Color"</h2>
  <div class="flex flex-wrap px-4 pt-4 bg-sky-100/50">
    <div class="w-full">
      <p>Ativado</p>
      <vat-button [text]="'Exemplo'" [collor]="1"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="2"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="3"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="4"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="5"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="6"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="7"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="8"></vat-button>
    </div>
    <div class="w-full">
      <p>Desativado</p>
      <vat-button [text]="'Exemplo'" [collor]="1" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="2" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="3" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="4" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="5" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="6" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="7" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="8" [disabled]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Loading</p>
      <vat-button [text]="'Exemplo'" [collor]="1" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="2" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="3" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="4" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="5" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="6" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="7" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="8" [loading]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Mensagem</p>
      <vat-button [text]="'Exemplo'" [collor]="1" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="2" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="3" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="4" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="5" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="6" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="7" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [collor]="8" [message]="'98.754'"></vat-button>
    </div>
  </div>
  <p>O parâmetro <span class="font-semibold">"Collor"</span> recebe um enumerador, conforme mostrado abaixo:</p>
  <app-code-viewer [codeViewer]="codeCollorEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeCollor"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização para estilo "Gradient Duotone"</h2>
  <div class="flex flex-wrap px-4 pt-4 bg-sky-100/50">
    <div class="w-full">
      <p>Ativado</p>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="1"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="2"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="3"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="4"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="5"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="6"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="7"></vat-button>
    </div>
    <div>
      <p>Desativado</p>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="1" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="2" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="3" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="4" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="5" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="6" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="7" [disabled]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Loading</p>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="1" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="2" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="3" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="4" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="5" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="6" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="7" [loading]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Mensagem</p>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="1" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="2" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="3" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="4" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="5" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="6" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientDuotone]="7" [message]="'98.754'"></vat-button>
    </div>
  </div>
  <app-code-viewer [codeViewer]="codeGradientDuotoneEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeGradientDuotone"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização para estilo "Gradient Monochrome"</h2>
  <div class="flex flex-wrap px-4 pt-4 bg-sky-100/50">
    <div class="w-full">
      <p>Ativado</p>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="1"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="2"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="3"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="4"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="5"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="6"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="7"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="8"></vat-button>
    </div>
    <div>
      <p>Desativado</p>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="1" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="2" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="3" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="4" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="5" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="6" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="7" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="8" [disabled]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Loading</p>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="1" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="2" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="3" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="4" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="5" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="6" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="7" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="8" [loading]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Mensagem</p>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="1" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="2" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="3" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="4" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="5" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="6" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="7" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientMonochrome]="8" [message]="'98.754'"></vat-button>
    </div>
  </div>
  <app-code-viewer [codeViewer]="codeGradientMonochromeEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeGradientMonochrome"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização para estilo "Gradient Outline"</h2>
  <div class="flex flex-wrap px-4 pt-4 bg-sky-100/50">
    <div class="w-full">
      <p>Ativado</p>
      <vat-button [text]="'Exemplo'" [gradientOutline]="1"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="2"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="3"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="4"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="5"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="6"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="7"></vat-button>
    </div>
    <div>
      <p>Desativado</p>
      <vat-button [text]="'Exemplo'" [gradientOutline]="1" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="2" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="3" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="4" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="5" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="6" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="7" [disabled]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Loading</p>
      <vat-button [text]="'Exemplo'" [gradientOutline]="1" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="2" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="3" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="4" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="5" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="6" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="7" [loading]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Mensagem</p>
      <vat-button [text]="'Exemplo'" [gradientOutline]="1" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="2" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="3" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="4" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="5" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="6" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [gradientOutline]="7" [message]="'98.754'"></vat-button>
    </div>
  </div>
  <app-code-viewer [codeViewer]="codeGradientDuotoneEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeGradientOutline"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização para estilo "Outline"</h2>
  <div class="flex flex-wrap px-4 pt-4 bg-sky-100/50">
    <div>
      <p>Ativado</p>
      <vat-button [text]="'Exemplo'" [outline]="1"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="2"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="3"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="4"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="5"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="6"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="7"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="8"></vat-button>
    </div>
    <div>
      <p>Desativado</p>
      <vat-button [text]="'Exemplo'" [outline]="1" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="2" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="3" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="4" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="5" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="6" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="7" [disabled]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="8" [disabled]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Loading</p>
      <vat-button [text]="'Exemplo'" [outline]="1" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="2" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="3" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="4" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="5" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="6" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="7" [loading]="true"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="8" [loading]="true"></vat-button>
    </div>
    <div class="w-full">
      <p>Mensagem</p>
      <vat-button [text]="'Exemplo'" [outline]="1" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="2" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="3" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="4" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="5" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="6" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="7" [message]="'98.754'"></vat-button>
      <vat-button [text]="'Exemplo'" [outline]="8" [message]="'98.754'"></vat-button>
    </div>
  </div>
  <app-code-viewer [codeViewer]="codeCollorEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeOutline"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização de Tamanho</h2>
  <div class="flex flex-wrap items-center px-4 pt-4 bg-sky-100/50 mb-2">
    <vat-button [text]="'Exemplo'" [collor]="1" [size]="1"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="1" [size]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="1" [size]="3"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="1" [size]="4"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="1" [size]="5"></vat-button>
  </div>
  <p>O parâmetro <span class="font-semibold">"size"</span> recebe um enumerador, conforme mostrado abaixo:</p>
  <app-code-viewer [codeViewer]="codeSizeEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeSize"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização da Sombra</h2>
  <div class="grid grid-cols-2 xsm:grid-cols-3 md:grid-cols-4 2xl:grid-cols-6 gap-x-4 items-center px-4 py-4 bg-sky-100/50 mb-2">
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="1"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="3"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="4"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="5"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="6"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="7"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="2" [shadow]="8"></vat-button>
  </div>
  <p>O parâmetro <span class="font-semibold">"shadow"</span> recebe um enumerador, conforme mostrado abaixo:</p>
  <app-code-viewer [codeViewer]="codeShadowEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeShadow"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização do Arredondamento</h2>
  <div class="flex flex-wrap space-x-4 items-center px-4 py-4 bg-sky-100/50">
    <vat-button [text]="'Exemplo'" [collor]="3" [rounded]="1"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="3" [rounded]="2"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="3" [rounded]="3"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="3" [rounded]="4"></vat-button>
    <vat-button [text]="'Exemplo'" [collor]="3" [rounded]="5"></vat-button>
  </div>
  <p>O parâmetro <span class="font-semibold">"rounded"</span> recebe um enumerador, conforme mostrado abaixo:</p>
  <app-code-viewer [codeViewer]="codeSizeEnum"></app-code-viewer>
  <app-code-viewer [codeViewer]="codeRounded"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização da Mensagem</h2>
  <div class="flex flex-wrap space-x-4 items-center px-4 py-4 bg-sky-100/50">
    <vat-button [text]="'Exemplo'" [collor]="5" [rounded]="1" [message]="'1.235.896'"></vat-button>
    <vat-button [text]="'Exemplo'" [gradientDuotone]="4" [rounded]="1" [message]="'mensagem'"></vat-button>
  </div>
  <p>O parâmetro <span class="font-semibold">"message"</span> recebe um string, conforme mostrado abaixo:</p>
  <app-code-viewer [codeViewer]="codeMensagem"></app-code-viewer>
</div>
