<div class="md:mt-2">
  <div class="flex items-center font-bold uppercase text-2xl">
    <h1>UI Tooltip</h1>
  </div>
  <p class="pt-2 text-gray-600">Exemplos para utilização do componente Tooltip.</p>
</div>
<hr class="my-4 border-b-2 border-gray-200" />

<div class="mb-6 text-sm">
  <p class="">
    Tooltip ou dica de contexto é um elemento comum de interface gráfica. Tooltip é aquela moldura flutuante que abre quando passa-se o
    mouse sobre um elemento da interface e que contém uma explicação adicional sobre tal elemento. É utilizado em conjunto com um cursor,
    normalmente um ponteiro do mouse.
  </p>
</div>

<app-example-viewer [title]="'Exeplos do componente Tooltip'">
  <div class="flex space-x-2">
    <div>
      <vat-tooltip [text]="'Tooltip Exemplo'" [position]="0">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Tooltip para cima</button>
      </vat-tooltip>
    </div>
    <div>
      <vat-tooltip [text]="'Tooltip Exemplo'" [position]="1">
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Tooltip para direita</button>
      </vat-tooltip>
    </div>
    <div>
      <vat-tooltip [text]="'Tooltip Exemplo'" [position]="2">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Tooltip para baixo</button>
      </vat-tooltip>
    </div>
    <div>
      <vat-tooltip [text]="'Tooltip Exemplo'" [position]="3">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Tooltip para esquerda</button>
      </vat-tooltip>
    </div>
  </div>
</app-example-viewer>

<div class="mt-4">
  <h2 class="font-semibold">Configuração</h2>
  <p class="text-sm">
    Após instalar o componente, será necessário importar o Modulo do Tooltip nos modulos da aplicação, conforme exemplo abaixo.
  </p>
  <app-code-viewer [codeViewer]="codeModule"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Exemplo de utilização</h2>
  <p class="text-sm">Exemplo de como utilizar o componente Tooltip</p>
  <app-code-viewer [codeViewer]="codeExample"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Texto</h2>
  <p class="text-sm">O texto que será exibido no tooltip deve ser definido no atributo "text"</p>
  <app-code-viewer [codeViewer]="codeText"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Posição de abertura</h2>
  <p class="text-sm">
    Por padrão, o tooltip será aberto para cima. Essa posição pode ser alterada definindo o atributo "<span class="font-semibold"
      >position</span
    >".
  </p>
  <app-code-viewer [codeViewer]="codePosition"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Enum Position</h2>
  <p class="text-sm">Opções do enumerador "Position".</p>
  <app-code-viewer [codeViewer]="codeEnum"></app-code-viewer>
</div>
