<!-- MENU PRINCIPAL -->
<div>
  <ul *ngIf="navbarPrincipal">
    <li
      *ngFor="let item of navbarPrincipal"
      class="flex items-center lg:text-sm mb-4 space-x-2 font-semibold"
      [ngClass]="{ 'text-slate-600 hover:text-slate-600/60': !item.selected, 'text-sky-600 hover:text-sky-600/60': item.selected }">
      <i class="{{ item.iconCss }}"></i>
      <a [routerLink]="[item.href]" (click)="clicked(item)">{{ item.text }}</a>
    </li>
  </ul>

  <!-- SUB MENUS -->
  <ul *ngIf="navbarSecondary">
    <li class="pt-2 lg:mt-8" *ngFor="let navBar of navbarSecondary">
      <h5 class="pb-2 pt-4 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">
        {{ navBar.title }}
      </h5>
      <ul class="space-y-6 lg:space-y-2 border-l border-slate-100">
        <li *ngFor="let item of navBar.items">
          <a
            *ngIf="item.target != '_blank'"
            class="block pl-4 text-sky-500 border-current hover:text-sky-700"
            [ngClass]="{ 'border-l': item.selected }"
            [routerLink]="[item.href]"
            (click)="clicked(item)"
            >{{ item.text }}</a
          >
          <a
            *ngIf="item.target == '_blank'"
            class="block pl-4 text-sky-500 border-current hover:text-sky-700"
            [ngClass]="{ 'border-l': item.selected }"
            [href]="item.href"
            [target]="item.target"
            (click)="clicked(item)"
            >{{ item.text }}</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
