<div class="flex flex-col py-4 px-2 border-2 rounded-md relative">
  <div class="grid grid-cols-2 px-4">
    <p class="font-semibold">{{ title }}</p>
    <div class="">
      <div class="flex justify-end">
        <vat-tooltip [text]="'Copiar link para exemplo'" [position]="2">
          <i
            class="flex justify-center items-center h-5 w-5 cursor-pointer hover:text-slate-900 hover:shadow-md icon-link"
            (click)="clickLink()"></i>
        </vat-tooltip>
        <vat-tooltip [text]="'Ver código do exemplo'" [position]="3">
          <i
            class="flex justify-center items-center h-5 w-5 cursor-pointer hover:text-slate-900 hover:shadow-md icon-embed"
            (click)="clickCode()"></i>
        </vat-tooltip>
        <!-- <vat-tooltip [text]="'Ver código do exemplo'" [position]="2">
      <i class="flex justify-center items-center h-5 w-5 icon-share"></i>
    </vat-tooltip> -->
      </div>
    </div>
  </div>
  <div class="flex flex-col py-10">
    <ng-content></ng-content>
  </div>
</div>
