<div class="pt-32">
  <h1 class="w-full text-left">Abaixo estão os últimos posts realizados para que você possa acompanhar</h1>

  <div class="grid pt-2 gap-8 w-full grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    <vat-card-alfa *ngFor="let card of cards" [card]="card"></vat-card-alfa>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 2xl:grid-cols-6 gap-4 pt-2">
    <!-- <vat-card-beta
      *ngFor="let item of loopingTeste"
      [imageSrc]="'../../../../assets/svg/angular.svg'"
      [message]="'Lorem ipsum sit dolor amitLorem ipsum sit dolor amitLorem ipsum sit dolor amitLorem ipsum sit dolor amit'"
      [title]="'A Super Wonderful Headline A Super Wonderful Headline'"></vat-card-beta> -->
  </div>
</div>
