<div class="duration-500 lg:border-b lg:border-blue-900/10 lg:z-50 top-0 transition-colors w-full">
  <div class="max-w-8xl mx-auto">
    <div class="border-b lg:border-0 lg:mx-0 lg:px-8 mx-4 py-4">
      <div class="relative flex items-center">
        <a class="ml-3 text-xs leading-5 text-blue-600 bg-blue-400/10 py-1 px-3 xl:flex items-center hover:bg-blue-400/20 font-semibold" href="/">
          Vissoto - Angular Toolkit
        </a>
        <div class="relative hidden lg:flex items-center ml-auto">
          <nav class="text-sm leading-6 font-semibold text-blue-800">
            <ul class="flex space-x-8">
              <li>
                <a class="hover:text-blue-500" href="/">Docs</a>
              </li>
              <li>
                <a href="/" class="hover:text-blue-500">Components</a>
              </li>
              <li>
                <a class="hover:text-blue-500" href="/">Blog</a>
              </li>
            </ul>
          </nav>
          <div class="flex items-center border-l border-blue-200 ml-6">
            <a href="/" class="icon-github ml-6 block text-blue-500 hover:text-blue-600"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
